.box {
  min-height: 300px;
  background: #fff;
  padding: 30px 35px 45px 35px;
}

.box-wrap {
  margin-bottom: 30px;
  margin-left: 15px;
  position: relative;
  box-shadow: 0px 0px 0px #818181;
  transition: all 0.2s ease 0s;
  transform: translateY(0px) translateX(0px);
  border: 1px solid rgba(129, 129, 129, 0.1);
}
.box-wrap.-right {
  margin-right: -15px;
}

.box-wrap.-top{
  margin-top: 20px;
}

.box-wrap:before,
.box-wrap:after {
  display: inline-block;
  position: absolute;
  content: " ";
  width: 100%;
  height: 3px;
  background: #818181;
  transform: scaleX(0);
  transition: all 0.2s ease;
}

.box-wrap:before {
  top: 0;
  left: 0;
  transform-origin: 0 0;
}

.box-wrap:after {
  bottom: 0;
  left: 0;
  transform-origin: 100% 0;
}

.box:before,
.box:after {
  display: inline-block;
  position: absolute;
  content: " ";
  width: 3px;
  height: 100%;
  background: #818181;
  transform: scaleY(0);
  transition: all 0.2s ease 0.2s;
}

.box:before {
  top: 0;
  left: 0;
  transform-origin: 0 100%;
}

.box:after {
  top: 0;
  right: 0;
  transform-origin: 0 0;
}

.box:hover:after,
.box:hover:before,
.box-wrap:hover:after,
.box-wrap:hover:before,
.box:hover:after,
.box:hover:before{
  transform: scaleY(1);
}

.box-wrap:hover{
  box-shadow: 20px 20px 0px #818181;
  transform: translateY(-10px) translateX(-10px);
  transition: all 0.2s ease 0.4s;
}