@media(max-device-width: 600px){
    .hero__box {
        min-width: 280px;
        padding: 25px;
    }
}
@media(max-device-width: 600px){
    .container {
        padding: 0 24px!important; 
    }
    .intro__slide {
        padding-left: 0;
    }

    .box {
        padding: 30px 25px 35px 25px
    }
    .flex {
        flex-direction: column;
    }
    .hero__box {
        min-width: 280px;
        padding: 25px;
    }
    .intro__image, .intro__content {
        width: 100%;
    }
    .margin-right-60px{
        margin-right: 0;
    }
    .box-wrap {
        margin-top: 10px;
    }
    .box-.top {
        margin-top: 0;
    }
    .box-wrap {
      margin-left: 0;
    }
    .padding {
        padding: 60px 0;
    }
    .text-block {
        margin-bottom: 16px;
    }
    [class*="w-"] {
        display: inline-block;
        width: 100%;
        max-width: 100%;
    }
}